:root {
  --mypurple: #C6ADDD; 
  --mypink: #F4D8ED; 
  --myorange: #ECA473;
  --myblue: #556C9E;

  --background-grey: #f6f6f3;
  --canvas: #efe9db;

  /* new palette */
  --rose: #d8b8bd;
  --cotton: #f6f6f3;
  --peach: #eac5b4;
  --terracotta: #ce4d12;
  /* new palette */
  
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Karla', sans-serif;

  --mobile-bp : 500px;
}

.full-page {
    margin: 0;
    padding: 10px;
}

.bg-cotton {
    background-color: var(--cotton);
}

.primary, .secondary {
    max-width: 1000px;
    margin: auto;
    border: 1px solid var(--peach);
    width: 100%;

    display: flex;
    min-height: 500px;
    font-family: var(--primary-font);
    margin-bottom: 50px;
    color: var(--terracotta);
}

h1 {
    color: var(--cotton);
}

h3 {
    color: var(--terracotta);
    font-size: 150px;
}

.left {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 10px;
}


.primary > .right {
    align-self: flex-end;
    padding: 20px;
    font-family: var(--secondary-font);
    line-height: 15px;
}

.translate:hover .eng{
    font-style: var(--primary-font);
    display: none;
}

.kor {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 140px;
}

.translate:hover .kor {
    opacity: 1;
    height: auto;;
}

.secondary {
    padding: 0;
}

.secondary > .left {
    background-color: var(--peach);
    font-family: var(--secondary-font);
    padding: 20px;
    flex: 0 0 45%;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.secondary > .right {
    font-family: var(--secondary-font);
    padding: 10px 20px;
    border: 10px solid var(--peach);
}

.secondary > .right > .translate {
    margin-top: 15px;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: bold;
}

.edu {
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    
}

h4 {
    font-family: var(--secondary-font);
    margin-bottom: 5px;
    margin-top: 15px;
    text-decoration: underline;
}

.tech {
    display: flex;
    flex-wrap: wrap;
}

.tech > div {
    padding: 5px;
    bordeR: 1px solid;
    margin: 4px;
}

.experience-extended, .open {
    margin-left: 5px;
}

.experience-extended .show{
    display: none;
}
.experience-extended:hover{
    border: 1px solid var(--peach) ;
    padding: 5px;
}
.experience-extended:hover .show, .open>div{
    display: block;
    padding: 0 5px;
    /* background-color: purple; */
    text-decoration: none;
    cursor: cell;
}

.open {
    margin-bottom: 5px;
    border: 1px solid ;
    padding: 5px;
}

@media screen and (max-width: 775px){
    h3 {
        font-size: 17vw;
    }
}

@media screen and (max-width: 650px){

     .secondary {
        display: inline-block;
    }
}
@media screen and (max-width: 580px){
    h3 {
        font-size: 12vw;
        margin-top: 110px;
    }
}

@media screen and (max-width: 450px){
    .primary {
        display: inline-block;
    }

    h1 {
        height: 0;
    }
}