:root {
  --mypurple: #C6ADDD; 
  --mypink: #F4D8ED; 
  --myorange: #ECA473;
  --myblue: #556C9E;
  font-family: Arial, Helvetica, sans-serif
}


.site {
  width: 80%;
  padding-left: 10%;
  margin: auto;
  /* background-color: var(--myblue); */
  max-width: 900px;
}

#header{
  margin-top: 10%;
  width: 100%;
  margin-left: -13%;
  padding-right: 13%;
  height: 50vh;
  background-color: lavender;
  margin-bottom: 10%;
}

#header div{
  font-size: 45px;
  padding-top: 20%;
  padding-left: 15%;
  /* padding-right: -5%; */
  color: red;
  /* background-color: lavender; */
  font-weight: bold;
  /* overflow: auto; */
  line-height: 5px;
}

#header p{
  margin-left: 60%;
  font-size: 20px;
  font-weight: normal;
  color: grey;
  cursor: cell;
  line-height: 5px;
}
#header p:hover{
  /* text-decoration: underline; */
  color: orangered;
  font-style: italic;
}

.museum-tag{
  position: fixed;
  top: 20%;
  /* left: 8px; */
  width: 15%;
  height: 35%;
  /* margin-top: 10%; */
  margin-left: -15%;
  background-color: var(--myorange)
}

.museum-tag .fab {
  display: block !important;
  text-decoration: none;
  color: seashell;
  transition: .5s ease;
  
}

.museum-tag .fas {
  display: block !important;
  text-decoration: none;
  color: seashell;
  transition: .5s ease;
}

.museum-tag .fab:hover{
  cursor: pointer;
  transform: scale(1.07);
  color: goldenrod;
}

.museum-tag .fas:hover{
  cursor: pointer;
  transform: scale(1.07);
  color: goldenrod;
}

#categories{
  font-size: 50px;
  border-bottom: 1px solid;
  padding-left: 30px;
  margin-top: 5%;
  /* margin-bottom: 5%; */
  text-transform: uppercase;
  font-weight: 200;
  font-family: Helvetica, Arial,sans-serif;
}

#about-me{
  width: 100%;
  height: 50vh;
  background-color: var(--mypink);
}

#projects{
  width: 100%;
  height: 100vh;
  /* background-color: var(--mypink); */
}

/* ////////////////////////////////////////////////// */


.yoan-content {
  line-height: 1.5em;
  font-size: 1.2em;
  padding: 3% 5%;
  background: seashell;
}

.yoan-content .alternate {
  display: inline;
}

.projects-heading {
  font-size: 2.5em;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 0;
    padding: 6%;
    background: url('../projects.png');

}

.projects-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  grid-row-gap: 40px;
  margin: 1px;
  overflow: hidden;

}

.project {
  background: seashell;
  text-align: center;
  padding: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 1px;
  height: auto;
  overflow: auto;
}


.project a {
  text-decoration: none;
  color: rgb(36, 28, 23);
  font-size: 1em;
  transition: .5s ease;
  padding: .8em;
  border: 2px solid goldenrod;
}

.project a:hover {
  color: goldenrod;
  border: 2px solid black;
  box-shadow: 2px 2px 2px goldenrod;
}

.project img {
  width: 80%;
  padding: 5%;
}

.project-details {
  color:  rgb(36, 28, 23);
  padding: 20px;
  text-align: left;
  line-height: 1.4em;
  width: 80%;
  margin: auto;
}

.footer {
  display: relative;
  background-repeat:no-repeat;
  margin-top: 0;
  height: 100px;
  background: indigo;
  overflow: auto;
  color: snow;
}

/* @media (max-width:600px) {
  .project a {
    font-size: 1em;
    box-shadow: 2px 2px 2px black;
  }

  .mast-head img {
    border-radius: 0;
    width: 100%;
    margin: 0;
  }
  .site {
    width: 100%;
  }

  .museum-tag{
    display: none;
  }

  .museum-tag-small-screen {
    display: block;
  }

  .yoan-content .alternate {
    display: none;

  }

  .museum-tag-small-screen .fab {
    text-decoration: none;
    margin-right: 10%;
    color: rgb(48, 45, 43);
    transition: .5s ease;
    
  }

  .museum-tag-small-screen .fas {
    text-decoration: none;
    color:rgb(48, 45, 43);
    transition: .5s ease;
  }

  .museum-tag-small-screen .fab:hover{
    cursor: pointer;
    transform: scale(1.07);
    color: goldenrod;
  }

  .museum-tag-small-screen .fas:hover{
    cursor: pointer;
    transform: scale(1.07);
    color: goldenrod;
  } 

} */