:root {
  --mypurple: #C6ADDD; 
  --mypink: #F4D8ED; 
  --myorange: #ECA473;
  --myblue: #556C9E;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
}


.site {
  width: 80%;
  padding-left: 10%;
  margin: auto;
  /* background-color: var(--myblue); */
  max-width: 900px;
  height: 100%;
}

#header{
  margin-top: 10%;
  width: 100%;
  margin-left: -13%;
  padding-right: 13%;
  /* height: 60vh; */
  background-color: lavender;
  margin-bottom: 10%;
  padding-bottom: 10%;
}

#header div{
  font-size: 6vh;
  padding-top: 10%;
  padding-left: 15%;
  /* padding-right: -5%; */
  color: red;
  /* background-color: lavender; */
  font-weight: bold;
  /* overflow: auto; */
  /* line-height: 5px; */
}

#header p{
  margin-left: 60%;
  font-size: 20px;
  font-weight: normal;
  color: grey;
  cursor: cell;
  line-height: 5px;
}
#header p:hover{
  /* text-decoration: underline; */
  color: orangered;
  font-style: italic;
}

#welcome div{
  display: flex;

}

.museum-tag{
  position: fixed;
  top: 20%;
  /* left: 8px; */
  width: 15%;
  height: 40%;
  /* margin-top: 10%; */
  left: 6%;
  background-color: rgb(243, 242, 243);
  opacity: 80%;
  /* background-color: var(--myorange); */
  border: 1px solid grey;
  text-align: right;
  display: block;
  padding-right: 1vh;
}

.museum-tag h4{
  /* line-height: 0;, */
  margin: 0;
  font-size: 4vh;
  text-align: left;
      font-family: Helvetica, Arial,sans-serif
}


.museum-tag button{
  
  border: none;
  background-color: rgb(243, 242, 243);
  /* height: 2vh; */
  font-size: 2.5vh;
  text-align: right;
  margin: 0;
  padding: 0;
  
}
.museum-tag button:hover{
  color: orangered;
  font-weight: bold;
  
}

#tag-title{
  background-color: blue;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(-90deg);
  position: absolute
  display: inline-block;;
}
#museum-social{
  width: 100%;
  /* height: 20%; */
  position: absolute;
  bottom: 0;
  justify-content: center;
  text-align: center;
  border-top: 1px solid grey;
  background-color: white;
  /* height: 10vh; */
  overflow: none;
}
/* #museum-social:hover{
  background-color: red;

} */


#museum-social a {
  /* overflow: none; */
  /* bottom: 0; */
  /* justify-content: center; */
  margin: 0 auto;
  margin: 3%;
  /* display:inline; */
  /* flex: right; */
  /* width: 100%; */
  /* display: block !important; */
  /* text-decoration: none; */
  /* color: grey; */
  /* transition: .5s ease; */
  
}

.museum-tag .fab:hover, .museum-tag .fas:hover{
  cursor: pointer;
  transform: scale(1.07);
  color: red
}


#categories{
  font-size: 50px;
  border-bottom: 1px solid;
  padding-left: 30px;
  margin-top: 5%;
  /* margin-bottom: 5%; */
  text-transform: uppercase;
  font-weight: 200;
  font-family: Helvetica, Arial,sans-serif;
}


#projects{
  width: 100%;
  padding-bottom: 10vh;
}

#description{
  width: 100%;
  height: 100vh;
  background-color: var(--mypink);
}


/* PROJECT PAGE */
#single-selected-project{
  width: 90%;
  /* border: 1px solid var(--mypink); */
  /* height: 100vh; */
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding: 5%;
  /* margin-bottom: 10%; */
}
#single-description {
  font-size: 5vh;
  /* display: inline-block; */
  /* background-color: lavender; */
  font-weight: bold;
  text-align: left;
  padding-left: 10%;
  
}
#single-description-text{
  /* margin-left: 5%; */
  color: grey;
  width: 100%;
 /* background-color: purple; */
 font-size: 2vh;
 margin-top: 2vh;
 font-weight: normal;
}

#single-description-stack{
  font-style: italic;
  font-size: 2vh;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5px;
  /* line-height: 2em */
}

#project-buttons{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 100%;
  /* height: 10vh; */
  /* vertical-align: middle; */
  margin: 0 auto;
  display: flex;
  /* font-weight: bold; */
}

#project-buttons a{
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--myblue);
  font-size: 1em;
  transition: .5s ease;
  padding: .8em;
  border: 2px solid var(--myblue);
  /* display: inline; */
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1.5vh;
  width: 40%;
  /* height: 30px; */
  
}

#project-buttons a:hover {
  background-color: var(--myblue);
  color: white;
  /* color: goldenrod; */
  /* border: 2px solid black; */
  /* box-shadow: 2px 2px 2px goldenrod; */
}

#project-buttons #youtube-demo{
  border: 2px solid var(--mypurple);
  color: var(--mypurple);
}
#project-buttons #youtube-demo:hover{
background-color: var(--mypurple);
color: white;
}

.project img {
  width: 80%;
  padding: 5%;
}

.project-details {
  color:  rgb(36, 28, 23);
  padding: 20px;
  text-align: left;
  line-height: 1.4em;
  width: 80%;
  margin: auto;
}

footer {
  margin-top: 20vh;
  background: var(--mypink);
  position: relative;
  left: -1%;
  bottom: 0;
  width: 103%;
  /* height: 20vh; */
  /* padding: -10%; */
  opacity: 20%;
  margin: 0 auto;
  text-align: center;
} 
footer div{
  display: flex;
  width: 100%;
}
#footer-right{
  /* display: table-cell; */
  width: 50%;
  display: block;
  position: relative;
  /* padding-top: -5vh; */
  float: right;
  text-align: left;
  padding: 2%;
  color: grey;
}
#footer-right a:visited{
  color: var(--mypurple)
}
#footer-right a{
  color: var(--myblue)
}

#footer-left{
  float: left;
  /* padding-top: 5vh; */
  color: grey;
  display: table-cell;
  width: 50%;
  /* display: right; */
  padding: 2%;
}


/* ABOUT PAGE  */
#about-page{
  display: flex;
  /* background-color: lightgray; */
  width: 90%;
  margin: 0 auto;
  /* background-color: var(--mypink); */
}
#my-pic{
  background-size: contain;
  width: 45vh;
  height: 40%;
  /* margin-left: 10vh; */
  margin-top: 10vh;
  border: solid lavender;
  padding: 2vh;
}

#my-description{
  width: 80%;
  margin-top: 10vh;
  padding-left: 5vh;
  /* font-size: 4vh; */
  display: block;
  bottom: 0;
  /* color: var(--mypurple); */
  color: grey;
  font-weight: bold;
  cursor: pointer;
}

#bio{
  font-size: 4vh;
  cursor: pointer;
}
#bio:hover span{
  font-weight: bolder;
  /* color: red; */
  /* color: var(--mypurple); */
}

#bio-more{
  display: block;
  font-size: 2vh;
  margin-top: 1vh;
  font-style:italic;
}
/* #bio:hover+#bio-more{
  display: block;
  line-height: 130%;
  font-size: 2vh;
} */

#experience{
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: left;
  font-size: 3vh;
  background-color: lavender;
  color: grey;
  padding-left: 1vh;
}

#experience-extended{
  color: grey;
  font-size: 2vh;
  cursor: cell;
}

#experience-extended #show{
  display: none;
}
#experience-extended:hover{
  border: .5vh;
  color:grey;
  padding: .5vh;
  border: solid lavender;
  cursor: cell;
}
#experience-extended:hover #show{
  display: block;
  padding: .5vh;
  /* background-color: purple; */
  text-decoration: none;
  cursor: cell;
}
/* ABOUT PAGE  */




/* ////////////////////////////////////////////////// */
@media (max-width:1400px) {
  #my-pic{
    width: 30%;
  }
}
@media (max-width:950px) {

}
/* TABLET BREAK */
@media only screen and (max-width: 600px) {
  
}
/* PHONE BREAK */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .museum-tag{
    visibility: hidden;
  }
  .site{
    width: 100%;
    padding: 0
  }
  #header{
    margin-left: -5%;
  }
  #categories{
    margin-top: 10vh;
    margin-bottom:6vh;
  }

  #header div{
    padding-left: 10%;
  }
  #header p {
    margin-left: 40%;
  }
  #about-page{
    display: block;
    margin: 0 auto;
  }
  #my-pic{
    margin-top: 0;
    width: 90%;
  }
  #my-description{
    padding-left: 2vh;
    width: 90%;
    margin-top: 3%;
  }
  #single-description{
    padding-left: 0;
  }
}